*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    width: 100%;
    height: fit-content;
    background-image: url(/image/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 20px;
    background-position: left;
    position: relative;
}
/* nav section  */

.navbar{
    height: 12%;
    display: flex;
    align-items: center;

    


}
.logo-1{
    cursor: pointer;
    width: 70px;
    height: 60px;
    color: white;
    font-size: 11px;

}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 15px;
    color: white;

}
#search-box{
    padding: 20px;
    font-size: 13px;
    width: 250px;
text-align: center;
    height: 3px;
    border-radius: 40px;
    border: none

}
.Button{
    display: flex;
    justify-items: center;
    justify-content: center;
    color: white;
align-items: center;
    background-color: rgb(201, 53, 8);
padding: 20px;
    font-size: 13px;
    width: 200px;
    height: 3px;
    border-radius: 5px;
    border: none;

}
/*4 image row */

.image{
    transition: transform 0.5s;
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px;
    margin-left: 50px;
    background-position: center;
    background-size: cover;
   
    
}

.card-1{
    background-image: url(/image/flower.jpeg)
    

}
.card-2{
    background-image: url(/image/bag.png);

}
.card-3{
    background-image: url(/image/burger.png);

}
.card-4{
    background-image: url(/image/jualary.png);

}

#image-input{ 
    width: 200px;
    margin-top: 150px;
    text-align: center;
    color:#c93508;
    border-radius: 10px;
    border: 1.5px solid red;
    height: 22px;
}
.image h5{
    font-size: 15px;
    color:rgb(247, 73, 4);
    font-style: italic;
    
}
.image h1{
    color: white;
}
.image p{
    color: rgb(201, 53, 8);
    font-size: 13px;
    text-transform: capitalize;
    font-style: italic;

}
/* website name*/
.col-3{
    flex-basis: 50%;


}
.col-3 h1{
    color: #c93508;
    font-size: 55px;
}
.col-3 h5{
    color:rgb(113, 157, 168);
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
.row-3{
    display: flex;
    align-items: center;
    height: 88%;
}
.sec-card-1{
    background-image:url(/image/sunglass.png);

}
.sec-card-2{
    background-image: url(/image/headphone.jpg);
}
.sec-card-3{
    background-image: url(/image/shows.png);

}
.sec-card-4{
    background-image: url(/image/Group.png);


}

/*  Logo imag-section */
.container{
    margin-top: 50px;
   background-color: #010511a9;
    

}
.sub-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-bottom: 20px;

    

}

.sub-container h3{
    color: #c93508;
    

}
.sub-container p{
    color:  rgb(113, 157, 168);

}
/* search and popular button */
.search-box-un{
    display: flex;
    justify-content: center;
    padding: 20px;

}

/*login-from  */
.login-from{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  
   
    
}
.input-item{
    background-color: #e46f0f2c;
    width: fit-content;
    align-items: center;
    justify-content: center;
    display: flex;
    /* height: 500px; */
    

}
.login-from hr {
    width: 250px;


}

.input-item{
    flex-basis: 50%;
    padding: 20px;

}
.login-from h2{
    color: #c93508;

}
.login-from h4{
    color: rgb(113, 157, 168);

}
.input-item label{
    color: rgb(184, 234, 247);
 font-size: 15px;


}
.input-item input{
    color: #c93508;
    border-radius: 20px;
    text-align: center;
    width: 180px;
    height: 28px;
    padding: 5px;
    margin-top: 20px ;
    display: flex;
}

/* Create Your Account */

.input-item-2 input{
    color: #c93508;
    border-radius: 20px;
    text-align: center;
    width: 180px;
    height: 28px;
    padding: 5px;
    margin-top: 20px ;


}
.input-item-2 label{
    color: rgb(184, 234, 247);
    font-size: 15px;
    display: flex;
    justify-content:left;

   
}

 
 /* Footer  */
 footer {
    background-color:#010511a9;
    color: white;
    bottom: 0;
  width: 100%;
    font-size: 16px;
    height: 400px;
 
    box-sizing: border-box;
  }


 
 .row {
    padding: 5em 1em;
    margin-top: 50px;
    
  
  }
  .row.primary {
    display: grid;
    grid-template-columns: 3fr 2fr 4fr;
    align-items: stretch;
  }
  .column {
    width: 90%;
    display: flex;
    flex-direction: column;
    /* padding: 0 1em; */
    min-height: 50px;
  }
  h3 {
    color: #c93508;
    font-size: 1.4em;
  
  }
  .ul-footer {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  li:not(:first-child) {
    margin-top: 0.8em;
  }
  ul li a {
    color: #a7a7a7;
    text-decoration: none;
  }
  ul li a:hover {
    color:#cc9a12;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
    color: #bac6d9;
  }
  footer input,button{
    font-size: 1em;
    padding: 1em;
    width: 300px;

    border-radius: 5px;
    margin-bottom: 5px;
  }
  button {
    background-color: #cc9a12;
    color: #ffffff;
  }
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    flex-direction: row;

  }

  /* copy right section */
  .copyright {
    padding: 0.3em 1em;
  }
  .footer-menu{
    float: left;
    margin-bottom: 50px;

  }
  .footer-menu a{
    color: #cfd2d6;
    padding: 6px;
    text-decoration: none;
  }
  .footer-menu a:hover, .social :hover{
    color: #c7940a;
  }
  .copyright p {
    font-size: .9rem;
    text-align: center;
  }
  .discount{
    position: absolute;
}
  /* end  */